services:

  geoserver:
    image: docker.osgeo.org/geoserver:2.23.0
    environment:
      JAVA_OPTS: -Xmx1536M -XX:MaxPermSize=756M
      CORS_ENABLED: true
      CORS_ALLOWED_ORIGINS: "*"
      CORS_ALLOWED_METHODS: "GET,POST,PUT,DELETE,HEAD,OPTIONS"
      CORS_ALLOWED_HEADERS: "*"
    ports:
      - "8085:8080"
    networks:
      - clowder2
    restart: unless-stopped
    volumes:
      - geoserver_data:/opt/geoserver_data
      - geoserver_exts:/opt/additional_libs

  geoshp-preview:
    image: maxzilla2/geoshp
    environment:
      GEOSERVER_URL: http://geoserver:8080/geoserver/
      EXTERNAL_GEOSERVER_URL: http://localhost:8085/geoserver/
      GEOSERVER_USERNAME: admin
      GEOSERVER_PASSWORD: geoserver
      CLOWDER_VERSION: 2
      CLOWDER_URL: http://host.docker.internal:8000/
      RABBITMQ_URI: amqp://guest:guest@host.docker.internal:5672/%2F
    networks:
      - clowder2
    restart: unless-stopped

  ## This image must be built from:
  ##   https://github.com/clowder-framework/extractors-geo/blob/master/preview.geotiff/Dockerfile
  ## docker build -f Dockerfile -t clowder/extractors-geotiff-preview .
  ## THIS IS INTENDED FOR LOCAL DEVELOPMENT ONLY.
  geotiff-preview:
    image: clowder/extractors-geotiff-preview
    environment:
      GEOSERVER_URL: http://geoserver:8080/geoserver/
      EXTERNAL_GEOSERVER_URL: http://localhost:8085/geoserver/
      GEOSERVER_USERNAME: admin
      GEOSERVER_PASSWORD: geoserver
      CLOWDER_VERSION: 2
      CLOWDER_URL: http://host.docker.internal:8000/
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672/%2F
    networks:
      - clowder2
    restart: unless-stopped

networks:
  clowder2:

## By default this config uses default local driver,
## For custom volumes replace with volume driver configuration.
volumes:
  geoserver_data:
  geoserver_exts:
