services:
  jupyterhub:
    build:
        context: jupyterhub
        dockerfile: Dockerfile.jupyterhub
        args:
              JUPYTERHUB_VERSION: 4
    restart: always
    networks:
      - clowder2
    volumes:
      # The JupyterHub configuration file
      - ./jupyterhub/jupyterhub_dev_config.py:/srv/jupyterhub/jupyterhub_config.py:ro
      # Bind Docker socket on the hostso we can connect to the daemon from
      # within the container
      - /var/run/docker.sock:/var/run/docker.sock:rw
      # Bind Docker volume on host for JupyterHub database and cookie secrets
      - jupyterhub-data:/data
    ports:
      - "8765:8000"
    env_file:
        -   jupyterhub/.env-dev
    command: jupyterhub -f /srv/jupyterhub/jupyterhub_config.py

    depends_on:
      - keycloak

volumes:
    jupyterhub-data:
