version: '3.7'

# Settings and configurations that are common for all containers
x-minio-common: &minio-common
  image: quay.io/minio/minio:RELEASE.2022-01-25T19-56-04Z
  command: server --console-address ":9001" http://minio{1...4}/data
  environment:
    MINIO_ROOT_USER: minioadmin
    MINIO_ROOT_PASSWORD: minioadmin
  networks:
    - clowder2
  healthcheck:
    test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
    interval: 30s
    timeout: 20s
    retries: 3

services:

  reverse-proxy:
    # The official v2 Traefik docker image
    image: traefik:v2.5
    # Enables the web UI and tells Traefik to listen to docker
    command:
      - --api.insecure=true
      - --providers.docker
#      - --entryPoints.web.address=:80
    ports:
      # The HTTP port
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    networks:
      - clowder2
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock

  backend:
    image: 'clowder/clowder2-backend'
    build:
      context: backend
    networks:
      - clowder2
    environment:
      MONGODB_URL: mongodb://mongo:27017
      MINIO_SERVER_URL: minio-nginx:9000
      auth_base: http://localhost
      auth_url: http://localhost/keycloak/realms/clowder/protocol/openid-connect/auth?client_id=clowder2-backend&response_type=code
      oauth2_scheme_auth_url: http://keycloak:8080/keycloak/realms/clowder/protocol/openid-connect/auth?client_id=clowder2-backend&response_type=code
      auth_register_url: http://localhost/keycloak/realms/clowder/protocol/openid-connect/registrations?client_id=clowder2-backend&response_type=code
      auth_token_url: http://keycloak:8080/keycloak/realms/clowder/protocol/openid-connect/token
      auth_server_url: http://keycloak:8080/keycloak/
      keycloak_base: http://localhost/api
      frontend_url: http://localhost
    depends_on:
      - mongo
      - minio-nginx
      - keycloak
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=PathPrefix(`/api`)"
      - "traefik.http.services.backend.loadbalancer.server.port=80"
      - "traefik.http.routers.backend.priority=5"

  frontend:
    image: "clowder/clowder2-frontend"
    build:
      context: frontend
    networks:
      - clowder2
    depends_on:
      - backend
    environment:
      NODE_ENV: production
      CLOWDER_REMOTE_HOSTNAME: ${CLOWDER_REMOTE_HOSTNAME:-http://localhost}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"
      - "traefik.http.routers.frontend.priority=1"

  mongo:
    image: mongo:5.0
    networks:
      - clowder2
    volumes:
      - mongo:/data/db
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: root
#      MONGO_INITDB_ROOT_PASSWORD: example

  minio1:
    <<: *minio-common
    hostname: minio1
    volumes:
      - data1:/data

  minio2:
    <<: *minio-common
    hostname: minio2
    volumes:
      - data2:/data

  minio3:
    <<: *minio-common
    hostname: minio3
    volumes:
      - data3:/data

  minio4:
    <<: *minio-common
    hostname: minio4
    volumes:
      - data4:/data

  minio-nginx:
    image: nginx:1.19.2-alpine
    hostname: nginx
    networks:
      - clowder2
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - minio1
      - minio2
      - minio3
      - minio4

  postgres:
      image: postgres
      networks:
        - clowder2
      volumes:
        - postgres_data:/var/lib/postgresql/data
      environment:
        POSTGRES_DB: keycloak
        POSTGRES_USER: keycloak
        POSTGRES_PASSWORD: password

  keycloak:
      image: quay.io/keycloak/keycloak:latest
      networks:
        - clowder2
      volumes:
        - ./backend/keycloak/clowder-realm-prod.json:/opt/keycloak/data/import/realm.json:ro
        - ./backend/keycloak/clowder-theme/:/opt/keycloak/themes/clowder-theme/:ro
        - ./backend/keycloak/data/:/opt/keycloak/data
      command:
        - start-dev
        - --http-relative-path /keycloak
        - --import-realm
      environment:
        DB_VENDOR: POSTGRES
        DB_ADDR: postgres
        DB_DATABASE: keycloak
        DB_USER: keycloak
        DB_SCHEMA: public
        DB_PASSWORD: password
        KEYCLOAK_ADMIN: admin
        KEYCLOAK_ADMIN_PASSWORD: admin
      depends_on:
        - postgres
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.keycloak.rule=PathPrefix(`/keycloak`)"
        - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
        - "traefik.http.routers.keycloak.priority=10"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.3.3
    networks:
      - clowder2
    restart: unless-stopped
    environment:
      - "cluster.name=clowder2"
      - "discovery.type=single-node"
      - "xpack.security.enabled=false"
      - "xpack.security.http.ssl.enabled=false"
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300

## By default this config uses default local driver,
## For custom volumes replace with volume driver configuration.
volumes:
  mongo:
  data1:
  data2:
  data3:
  data4:
  postgres_data:
  elasticsearch:

networks:
  clowder2:
