version: '3.7'


services:
  name-entity-recognition:
    image: socialmediamacroscope/name_entity_recognition_extractor:latest
    environment:
      CLOWDER_VERSION: 2
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672/%2F
    networks:
      - clowder2
    restart: unless-stopped

  network-analysis:
    image: socialmediamacroscope/network_analysis_extractor:latest
    environment:
      CLOWDER_VERSION: 2
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672/%2F
    networks:
      - clowder2
    restart: unless-stopped

  topic-modeling:
    image: socialmediamacroscope/topic_modeling_extractor:latest
    environment:
      CLOWDER_VERSION: 2
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672/%2F
    networks:
      - clowder2
    restart: unless-stopped

  natural-language-preprocessing:
    image: socialmediamacroscope/preprocessing_extractor:latest
    environment:
      CLOWDER_VERSION: 2
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672/%2F
    networks:
      - clowder2
    restart: unless-stopped

  sentiment-analysis:
    image: socialmediamacroscope/sentiment_analysis_extractor:latest
    environment:
      CLOWDER_VERSION: 2
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672/%2F
    networks:
      - clowder2
    restart: unless-stopped

  autophrase:
    image: socialmediamacroscope/autophrase_extractor:latest
    environment:
      CLOWDER_VERSION: 2
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672/%2F
    networks:
      - clowder2
    restart: unless-stopped


networks:
  clowder2:
