[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
mongoengine = "*"
beanie = "*"
passlib = "*"
jwt = "*"
bcrypt = "*"
pyjwt = "*"
black = "*"
minio = "*"
python-multipart = "*"
pipfile = "*"

[dev-packages]
requests = "*"
pytest = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
