[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
mongoengine = "*"
beanie = "*"
passlib = "*"
jwt = "*"
bcrypt = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
