apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "clowder2.fullname" . }}-backend
  labels:
    {{- include "clowder2.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "clowder2.name" . }}-backend
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "clowder2.name" . }}-backend
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "clowder2.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: backend
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          env:
            - name: WEB_CONCURRENCY
              value: "1"
            - name: MINIO_SERVER_URL
              value: {{ (empty .Values.minio.serverUrl) | ternary (printf "%s-minio:9000" (include "clowder2.name" .)) .Values.minio.serverUrl }}
#              value: {{ include "clowder2.name" . }}-minio-headless:9000
            - name: MINIO_EXTERNAL_SERVER_URL
              value: {{ (empty .Values.minio.serverUrl) | ternary (printf "minio-api.%s" .Values.hostname) .Values.minio.serverUrl }}
            - name: MINIO_EXTERNAL_SECURE
              value: "true"
            - name: MINIO_SECURE
              value: "{{ .Values.minio.auth.secure }}"
            - name: MINIO_BUCKET_NAME
              value: clowder
            - name: MINIO_VERSIONING_ENABLED
              value: "{{ .Values.minio.enableVersioning }}"
            - name: MINIO_ACCESS_KEY
              value: {{ .Values.minio.auth.rootUser }}
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: clowder2-minio
                  key: root-password
            - name: MINIO_UPLOAD_CHUNK_SIZE
              value: "10485760"
            - name: MONGODB_URL
              value: mongodb://{{ include "clowder2.name" . }}-mongodb:27017
            - name: MONGO_DATABASE
              value: {{ .Values.mongodb.database }}
            - name: CLOWDER2_URL
              value: http://{{ .Values.hostname }}
            - name: auth_base
              value: $(CLOWDER2_URL)
            - name: auth_realm
              value: {{ .Values.auth.realm }}
            - name: auth_client_id
              value: {{ .Values.auth.clientID }}
            - name: auth_redirect_uri
              value: $(CLOWDER2_URL)/api/v2/auth
            - name: auth_url
              value: $(CLOWDER2_URL)/keycloak/realms/clowder/protocol/openid-connect/auth?client_id=clowder2-backend&response_type=code
            - name: oauth2_scheme_auth_url
              value: http://{{ include "clowder2.name" .}}-keycloak-headless:8080/keycloak/realms/clowder/protocol/openid-connect/auth?client_id=clowder2-backend&response_type=code
            - name: auth_register_url
              value: $(CLOWDER2_URL)/keycloak/realms/clowder/protocol/openid-connect/registrations?client_id=clowder2-backend&response_type=code&redirect_uri=$(auth_redirect_uri)&scope=openid%20email
            - name: auth_token_url
              value: http://{{ include "clowder2.name" .}}-keycloak-headless:8080/keycloak/realms/clowder/protocol/openid-connect/token
            - name: auth_server_url
              value: $(CLOWDER2_URL)/keycloak/
            - name: keycloak_base
              value: $(CLOWDER2_URL)/api
            - name: frontend_url
              value: $(CLOWDER2_URL)
            - name: elasticsearch_url
              value: http://{{ include "clowder2.name" . }}-elasticsearch:9200
            - name: elasticsearch_no_of_shards
              value: "5"
            - name: elasticsearch_no_of_replicas
              value: "5"
            - name: RABBITMQ_USER
              value: {{ .Values.rabbitmq.auth.username }}
            - name: RABBITMQ_PASS
              valueFrom:
                secretKeyRef:
                  name: clowder2-rabbitmq
                  key: rabbitmq-password
            - name: RABBITMQ_HOST
              value: {{ include "clowder2.name" .  }}-rabbitmq
            - name: HEARTBEAT_EXCHANGE
              value: "extractors"
            - name: API_HOST
#              value: $(CLOWDER2_URL)
              value: http://{{ include "clowder2.name" . }}-backend:{{ .Values.backend.service.port }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
