[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "3.1.2"
mongoengine = "*"
beanie = "1.18.0"
passlib = "*"
bcrypt = "*"
pyjwt = "*"
minio = "*"
python-multipart = "*"
pipfile = "*"
email-validator = "*"
python-keycloak = "*"
pika = "*"
aio_pika = "*"
elasticsearch = "*"
pipenv = "*"
install = "*"
rocrate = "*"
httpx= "*"
packaging= "*"
pymongo = "*"

[dev-packages]
requests = "*"
pytest = "*"
pytest-asyncio = "*"
black = "*"
faker = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
