[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.95.1"
uvicorn = "0.21.1"
motor = "3.1.2"
mongoengine = "0.27.0"
beanie = "1.18.0"
passlib = "1.7.4"
bcrypt = "4.0.1"
pyjwt = "2.6.0"
minio = "7.1.14"
python-multipart = "0.0.6"
pipfile = "0.0.2"
email-validator = "2.0.0.post2"
python-keycloak = "2.15.3"
pika = "1.3.1"
aio-pika = "9.0.5"
elasticsearch = "8.7.0"
pipenv = "2023.4.20"
install = "1.3.5"
rocrate = "0.7.0"
httpx = "0.24.0"
packaging = "23.1"
itsdangerous = "2.1.2"
flake8 = "*"
pyflakes = "*"
autoflake = "*"
isort = "*"
shellcheck-py = "*"
pre-commit = "*"

[dev-packages]
requests = "2.28.2"
pytest = "7.3.1"
pytest-asyncio = "0.21.0"
black = "23.3.0"
faker = "18.4.0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
