body {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.outer-container {
	padding: 45px;
}

.inner-container {
	padding: 20px 0;
}

.fileCard {
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
	border-radius: 4px;
	height: 140px;
	margin: 25px auto;
}

.infoCard {
	padding: 20px 0;
}

.infoCard .title {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 8px;
}

.infoCard .content {
	font-size: 14px;
	margin-bottom: 2px;
}

.actionCard {
	padding: 20px;
	margin: 20px 20px;
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
	border-radius: 4px;
}

.actionCard .title,
.search-title {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 12px;
}

.actionCard .content {
	font-size: 16px;
	margin-bottom: 12px;
}

.actionCard .link {
	font-size: 16px;
}

.appBar {
	background: #ffffff;
	box-shadow: none;
}

.tab {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	text-transform: capitalize;
}

.form-button-block {
	width: 100%;
	font-weight: 600;
}

.inputGroup {
	margin: 20px auto;
}

.search-input {
	background-color: #ffffff !important;
	border: 1px solid #ced4da !important;
	border-radius: 4px;
}

.embedded-search-input {
	border: none !important;
	background: transparent !important;
	border-bottom: 0.5px solid #868e96 !important;
}

/*turn off the shadow box on search*/
/*TODO pass in outer div id*/
.input-group {
	box-shadow: none !important;
}

.filter-select {
	border: none !important;
	background: transparent !important;
	border-bottom: 1px solid #868e96 !important;
	font-weight: bold;
}

.DayPickerInput {
	border-radius: 0;
	border-bottom: 1px solid #868e96 !important;
}

.DayPickerInput > input {
	font-weight: bold;
	background: transparent !important;
}

.DayPickerInput > input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #424242;
	opacity: 1; /* Firefox */
}

.DayPickerInput-OverlayWrapper {
	font-size: 16px;
}

[class*="-DateContainer-DateContainer"] > div:first-of-type > div {
	border: none !important;
	background: transparent !important;
}

mark {
	font-weight: bold;
	background: inherit;
	color: inherit;
}

.show-more-less-clickable {
	color: #f7941e;
}

.license-item {
	max-width: 800px;
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 15px;
	display: flex;
}
.radio-checkbox {
	margin-right: 0.5em;
	min-width: 17px;
}
.header {
	font-weight: 700;
	font-size: 1.28571429em;
}
.description {
	color: rgba(0, 0, 0, 0.6);
	font-size: smaller;
	line-height: 1.4285em;
}
.logo {
	width: 100px;
	height: auto;
}
