apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "clowder2.fullname" . }}-messages
  labels:
    {{- include "clowder2.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "clowder2.fullname" . }}-messages
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "clowder2.fullname" . }}-messages
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: extractors-messages
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.message.image.repository }}:{{ .Values.message.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.message.image.pullPolicy }}
          env:
            - name: MONGODB_URL
              value: mongodb://{{ include "clowder2.releaseName" . }}-mongodb:27017
            - name: RABBITMQ_USER
              value: {{ .Values.rabbitmq.auth.username }}
            - name: RABBITMQ_PASS
              {{- if .Values.message.existingSecret }}
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.message.existingSecret }}
                  key: {{ .Values.message.existingRabbitMQSecretKey | default "rabbitmq-password" }}
              {{- else if (lookup "v1" "Secret" .Release.Namespace (printf "%s-secret" (include "clowder2.releaseName" .))) }}
              valueFrom:
                secretKeyRef:
                  name: {{ include "clowder2.releaseName" . }}-secret
                  key: rabbitmq-password
              {{- else }}
              value: {{ .Values.rabbitmq.auth.password }}
              {{- end }}
            - name: RABBITMQ_HOST
              value: {{ include "clowder2.releaseName" .  }}-rabbitmq
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
