apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "clowder2.fullname" . }}-messages
  labels:
    {{- include "clowder2.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "clowder2.name" . }}-messages
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "clowder2.name" . }}-messages
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: extractors-messages
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.message.image.repository }}:{{ .Values.message.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.message.image.pullPolicy }}
          env:
            - name: MONGODB_URL
              value: {{ .Values.message.env.MONGODB_URL }}
            - name: RABBITMQ_USER
              value: {{ .Values.rabbitmq.auth.username }}
            - name: RABBITMQ_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ include "clowder2.fullname" . }}-rabbitmq
                  key: rabbitmq-password
            - name: RABBITMQ_HOST
              value: {{ .Values.message.env.RABBITMQ_HOST }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
