body {
	font-family: Rubik, sans-serif;
	font-weight: 300;
	margin: 0;
}

.masterContent {
	min-height: calc(100vh - 64px);
	/*max-width: 1400px;*/
	margin: auto;
	border-left-color: darkgrey;
	/*border-left-style: double;*/
	border-right-color: darkgrey;
	/*border-right-style: double;*/
	display: flex;
	/*flex-wrap: wrap;*/
}

.firstDivInContent {
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

.footerDiv{
	width: 100%;
	border-top-color: lightgray;
	border-top-style: solid;
	border-top-width: thin;
}


.p-panelmenu-header > a{
	background-color: rgba(0, 97, 157, 0.1) !important;
}

/* for main panel */
.innerBox {
	background-color: #F8F9FF;
	margin: auto 15px;
	padding: 4px;
}

.outerBox {
	padding: 16px;
	background-color: #ffffff;
	margin: auto 15px;
}

.gridItem {
	margin: 36px 15px;
	min-width: 500px;
	width:100%;
}

.inputGroup {
	height: 100%;
	width: 100%;
	margin: 20px auto;
}

.entryTableContainer {
	/*padding:15px 40px 25px 40px;*/
	padding: 8px
}

.entryTableTitle{
	margin-top: 50px;
}

.entryTable{
	max-height: 200px;
	overflow-y: auto;
}

/* for map */
.fillContainer {
	width: 100%;
	height: 100%;
	max-width: unset;
	max-height: unset;
}

.compactButton {
	padding: 2px 2px !important;
	margin-bottom: 6px !important;
	font-size: 12px !important;
	height: 16px !important;
	text-transform: capitalize !important;
	font-weight: 400 !important;
}

.titleSmall {
	color: #2E384D;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.33px;
	line-height: 14px;
}

.titleLarge {
	color: #2E384D;
	font-size: 19px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 22px;
}

.MuiChip-label {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

/* for static step htmls */
.fullDescription
{
	padding: 0 0;
}

.fullDescription h1,
.shortDescription h1
{
	color: #00619D;
	font-size: 21px;
	font-weight: 500;
	letter-spacing: 1.96px;
	line-height: 25px;
	padding: 0 0 4px 0;
}

.fullDescription h2,
.shortDescription h2
{
	color: #273E4C;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.6px;
	line-height: 19px;
	padding: 2px 0;
}

.fullDescription h3,
.shortDescription h3
{
	color: #00619D;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1.9px;
	line-height: 18px;
	padding: 8px 0;
}

.fullDescription h4,
.shortDescription h4
{
	color: #2E384D;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 18px;
}

.fullDescription p,
.shortDescription p
{
	color: #2E384D;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 18px;
	padding: 3px 0;
}

.fullDescription a,
.shortDescription a{
	color: rgb(0, 97, 157);
	text-decoration: underline;
	cursor: pointer;
}

.fullDescription strong,
.shortDescription strong
{
	font-weight: 500;
}

.fullDescription li,
.shortDescription li
{
	color: #2E384D;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 18px;
	padding: 2px 0;
}

/* for table */
.fullDescription table,
.shortDescription table
{
	color: #2E384D;
	font-size: 14px;
	box-sizing: border-box;
	border: 1px solid rgba(46,91,255,0.08);
	border-radius: 1px;
	border-collapse: collapse;
	width: 100%;
}

.fullDescription td,
.fullDescription th,
.shortDescription td,
.shortDescription th
{
	padding:10px;
	border: 1px solid rgba(46,91,255,0.08);
	color: #2E384D;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 17px;
	vertical-align: top;
}

.fullDescription th,
.shortDescription th{
	font-weight: 500;
	text-align: left;
}

.fullDescription thead,
.shortDescription thead{
	background-color:#EFF2FF;
	text-transform:uppercase;
}

.fullDescription td > p,
.shortDescription td > p{
	padding: 0;
}

.usefulResourcesTitle{
	margin:50px 0;
}
.usefulResourcesTitle img{
	display: inline;
	text-align: left;
	height: 40px;
	margin-right: 10px;
}

.usefulResourcesTitle h1{
	display: inline;
	vertical-align: super;
}
