name: Backend

defaults:
  run:
    working-directory: backend

on:
  push:
    branches:
      - 'main'
      - 'release/*'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'
      - 'release/*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      -
        name: Docker meta backend
        id: backendMeta
        uses: docker/metadata-action@v4
        with:
          images: |
            clowder/clowder2-backend
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
          labels: |
            component=backend

      -
        name: Docker meta heartbeat
        id: heartbeatMeta
        uses: docker/metadata-action@v4
        with:
          images: |
            clowder/clowder2-heartbeat
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
          labels: |
            component=heartbeat

      -
        name: Docker meta messages
        id: messagesMeta
        uses: docker/metadata-action@v4
        with:
          images: |
            clowder/clowder2-messages
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
          labels: |
            component=messages

      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./backend/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.backendMeta.outputs.tags }}
          labels: ${{ steps.backendMeta.outputs.labels }}

      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./backend/heartbeat.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.heartbeatMeta.outputs.tags }}
          labels: ${{ steps.heartbeatMeta.outputs.labels }}

      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./backend/messages.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.messagesMeta.outputs.tags }}
          labels: ${{ steps.messagesMeta.outputs.labels }}
